.add-button-post {
	text-align: right;
	display: block;
	margin-bottom: 14px;
	margin-bottom: 1rem;
}
.add-button-post img {
	margin-left: 8px;
}

.add-button-post-left {
	text-align: left;
	display: block;
	margin-bottom: 14px;
	margin-bottom: 1rem;
}
.add-button-post-left img {
	margin-right: 8px;
}
.add-button-post-left .fb-like {
		margin-right: 8px;
}

.button_show {
	margin-bottom: 0px !important;
	vertical-align: -0.35em;
}

/* コメントボタン */
.add_bt_comment {
	display: inline-block;
	vertical-align: -0.35em;
	margin-right: 20px; /* ie8 */
}
.add_bt_comment img {
	float:left;
	margin-right: 3px;
	border: none !important;
}

/* 吹き出し*/
.add_bt_fd {
	position:relative;
	height:16px;
	background-color:#fff;
	border: 1px solid #CCC;
	border-radius: 2px;
	padding: 0 5px;
	line-height: 16px;
	font-size: 11px;
	letter-spacing: 0.18em;
	float: left;
	margin-right:-20px; /* ie8 */
}
.add_bt_fd:before,
.add_bt_fd:after {
	content:"";
  position:absolute;
  width:0px;
  height:0px;
	left:0px;
}	
.add_bt_fd:before {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
	border-left: 0px solid transparent;
  border-right: 4px solid #CCC;
	top: 50%;
	margin-left: -4px;
  margin-top: -4px;
}
.add_bt_fd:after {
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
	border-left: 0px solid transparent;
  border-right: 3px solid #fff;
  top: 50%;
  margin-left: -3px;
  margin-top: -3px;
}

.add-button-post-left:after,
.add-button-post:after {
	content: "";   
 	display: block;   
 	clear: both;
}

/* 
.twitter-share-button {
	width:105px !important;
}
*/